<% provide(:button_text, t("link.save")) %>
<div class = "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>
        <%= t("label.edit") %>
        <%= resource_name.to_s.humanize %>
      </h1>
      </br>
      <%= render "form" %>
      </br>
    </div>
  </div>
</div>


