<% provide(:button_text, t("link.signup")) %>
<div class = "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><%= t("link.signup") %></h1>
      </br>
      <%= render "form" %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
