<% provide(:title, t("label.edit")) %>
<% provide(:button_text, t("link.save")) %>
<div class = "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><%= t("label.edit") %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
