<% provide(:title, t("link.signup")) %>
<% provide(:button_text, t("link.signup")) %>
</br>
<div class = "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><%= t("link.signup") %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
