<% provide(:button_text, t("form.post")) %>
</br>
<div class="container">
  <div class="row justify-content-md-center">
    <h1><%= t("label.category") %></h1>
  </div>
  <div class="col-md-6 offset-md-3">
    <%= render "form" %>
  </div>
</div>
</br>
