<div class="productbox">
  <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
  <div class="producttitle">Product 2</div>
  <div class="productprice">
    <div class="pull-right">
      <a href="#" class="btn btn-danger btn-sm" role="button">BUY</a>
    </div>
    <div class="pricetext">£8.95</div>
  </div>
</div>
