<% provide(:button_text, t("link.create")) %>
</br>
<div class="container">
  <div class="col-md-6 offset-md-3">
    <h1><%= t("label.suggestion") %></h1>
    <%= render "form" %>
  </div>
</div>
</br>
