<div class="navbar navbar-inverse" role="navigation">
<div class="container">

<div class="row categories">

    <div class="container" id="horizontal">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="">ELECTRONICS</a></li>
        <li><a href="">AUTOMOTIVES</a></li>
        <li><a href="">HOME & DECOR</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li >
          <form method="post" action="test">
          <input type="text" name="search"  style="padding:5px;  border:1px solid #eee; width: 150px"/>
          <button type="submit" class="btn btn-danger">SEARCH</button>
           </form>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>

</div>



</div>
</div>
